
body{
  font-family: open sans;
}

header{
  background-color: #404041;
  width: 100%;
  margin: auto;
}

h1{
  color: #ed458b;
  padding-top: 14px;
  padding-bottom: 10px;
  margin: auto;
  text-align: center;
  font-family: open sans;
  font-weight: 700;
}

span {
  color: #e6e7e8;
  font-family: open sans;
  font-weight: 300;
}

main {
  width: 100%;
  margin: auto;
  text-align: center;
}

section {
  width: 50%;
  text-align: center;
  margin: auto;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 25px;
  padding-bottom: 10px;
  width: 100%;
  height: auto;
  font-size: 30px;
}

input::placeholder {
  padding-top: 5px;
  padding-bottom: 15px;
  font-size: 30px;
  font-weight:300;
  color: #d0d2d3;
}


h3 {
  text-align: center;
  color: #404041;
  font-weight: 300
}

p {
  text-align: center;
  color: #eb008b;
  font-weight: 300;
  font-size: 100px;
}


button {
  font-size: 20px;
  margin-top: 30px;
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 48%;
  color: #FFFFFF;
  background-color: #929497;
  
}

button:hover {
  background-color: #eb008b; 
}

button:disabled {
  background-color: #d0d2d3;
} 

.guess
.clear {
  width: 49%;
}

.reset{
  width: 100%
}
